<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>URL || SHORTNER</title>
</head>
<body>
    <h1>url Shortners</h1>
    <div id="container">
        <form action="" method="post">
            <input type="text" name="fullurl" placeholder="enter url here" class="form-label" required>
            <input type="text" name="shorturl" placeholder="enter custom url" class="form-label" required>
            <button type="submit" class="btn">Shorten</button>

            <% if(check == true){ %>
                <a href="<%= urlDetail.fullurl %>" class="form-label short" id="result"><span>Output:</span> <%=urlDetail.shorturl%></a>
            <% } %>
            </form>
    </div>
</body>
</html> 